/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 95%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Style =================================================== */

* {
	font-family: Helvetica, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: red;
}

li {
	list-style-position: inside;
}

#content {
	height: 100%;
	margin: 0;
	position: absolute;
	left: 250px;
	top: 54px;
	overflow-y: auto;
	overflow-x: hidden;
}

#slider {
	height: 100%;
	width: 9999999px;
	position: relative;
}

section {
	float: left;
	padding: 20px;
}

section h1 {
	font-size: 120%;
	margin-bottom: 10px;
}

section>div {
	margin-bottom: 20px;
}

#tabs {
	position: fixed;
	top: 0;
	left: 250px;
	width: 100%;
	height: 54px;
	background-color: #333;
	color: white; 
	list-style-type: none;
}

#tabs li {
	cursor: hand;
	float: left;
	display: block;
	padding: 20px 40px;
}

#tabs li:hover {
	background-color: red;
}
#tabs li.active {
	background-color: blue;
}

#sidebar {
	position: absolute;
	left:0;
	top:0;
	width: 250px;
	height: 100%;
	overflow: auto;
	background-color: #eee;
}

#program {
	position: fixed;
	top: 0;
	height: 54px;
	width: 250px;
	background-color: red;
	z-index: 999;
}

#program img {
	height: 54px;
	position: relative;
}

#program p {
	position: absolute;
	color: white;
	left: 80px;
	width: 170px;
	text-align: center;
	top: 20px;
}

/* Playout History ========================================= */

#play-history {
	list-style-type: none;
	overflow: auto;
	position: relative;
	top: 54px;
	margin: 0;
}

#play-history li {
	width: 250px;
	height: 100px;
	float: left;
	display: block;
    overflow: hidden;
    position: relative;
    cursor: hand;
}

#play-history li.active {
	background-color: #333; !important;
	opacity: 1;
	color: #eee;
} 
#play-history li:hover {
	opacity: 1;
	background-color: #555;
	color: #eee;
}

#play-history li img {
	float: left;
	width: 100px;
	height: 100px;
}

#play-history li div {
	width: 130px;
	left: 110px;
	position: absolute;
}

#play-history li div>p:first-child {
	margin-top: 10px;
}

/* Tweets ================================================== */

.handle {
	margin-left: 10px;
}

.handle:before
{ 
content:"@";
}

.sentiment span {
	font-weight: bold;
}


/* Clear =================================================== */

.clear {
	display: block;
	clear: both;
}

