/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 95%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Style =================================================== */

* {
	font-family: Helvetica, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: red;
}

li {
	list-style-position: inside;
}

#content {
	height: 100%;
	margin: 0;
	position: absolute;
	left: 250px;
	top: 54px;
	overflow-y: auto;
	overflow-x: hidden;
}

#slider {
	height: 100%;
	width: 9999999px;
	position: relative;
}

section {
	float: left;
	padding: 20px;
}

section h1 {
	font-size: 120%;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #eee;
	font-weight: normal;
	color: #464646;
}

section>div {
	margin-bottom: 40px;
}

#tabs {
	position: fixed;
	top: 0;
	left: 250px;
	width: 100%;
	height: 54px;
	background-color: #C4C3BF;
	color: #464646;
	list-style-type: none;
}

#tabs li:first-child {
	display: block;
}

#tabs li {
	cursor: pointer;
	float: left;
	display: none;
	padding: 20px 40px;
}

#tabs li:hover {
	background-color: #464646;
	color: #fff;
}
#tabs li.active {
	background-color: #939393;
	color: #fff;
	display: block;
}

#sidebar {
	position: absolute;
	left:0;
	top:0;
	width: 250px;
	height: 100%;
	overflow: auto;
	background-color: #eee;
}


#header {
	position: fixed;
	top: 0;
	height: 54px;
	width: 250px;
	background-color: #e63228;
	z-index: 999;
}

#logo {
	float: left;
	width: 54px;
	height: 54px;
}

#program {
	float: left;
	height: 54px;
	width: 196px;
}

#program img {
	float: left;
	height: 54px;
	position: relative;
}

#program p {
	float: left;
	color: #fff;
	height: 34px;
	width: 110px;
	text-align: center;
	margin: 15px 0 0;
}
img.bg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

section li {
	position: relative;
}

section>div {
	margin-bottom: 20px;
}
/*
section li:hover div.overlay {
	top: 0;
	height: 100%;
}
*/
section div.overlay {
	width: 93%;
	padding: 4%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: black;
	z-index: 10;
	height: auto;
}

section div.overlay p.title a {
	color: #fff;
	font-size: 1.3em;
	display: block;
	margin: 0 0 5px; 
}

section div.overlay p.date {
	color: #fff;
	font-size: 1em;
}

section div.overlay p.description {
	display: none;
}

/* Playout History ========================================= */

#play-history {
	list-style-type: none;
	overflow: auto;
	position: relative;
	top: 54px;
	margin: 0;
}

#play-history li {
	width: 250px;
	height: 100px;
	float: left;
	display: block;
    overflow: hidden;
    position: relative;
    cursor: hand;
}

#play-history li.active {
	background-color: #333; !important;
	opacity: 1;
	color: #eee;
} 
#play-history li:hover {
	opacity: 1;
	background-color: #555;
	color: #eee;
}

#play-history li img {
	float: left;
	width: 100px;
	height: 100px;
}

#play-history li div {
	width: 130px;
	left: 110px;
	position: absolute;
}

#play-history li div {
	width: 130px;
	left: 110px;
	position: absolute;
}

#play-history li div .track {
	font-size: 1.2em;
	font-weight: 500;
}

#play-history li div .artist {
	font-size: 1em;
	margin: 5px 0 0;
}

#play-history li div>p:first-child {
	margin-top: 10px;
}

/* Media =================================================== */

#media>ul>li {
	width: 340px;
	height: 227px;
	margin: 0 1px 1px 0;
	float: left;
	position: relative;
	overflow: hidden;
	color: white;
	background-color: #EEE;
}

#media a.view {
	position: absolute;
	right: 10px;
	top: 12px;
	color: #bbb;
	display: block;
	width: 40px;
	height: 40px;
	text-align: right;
}

/* Unearthed =============================================== */

#unearthed>ul>li {
	width: 340px;
	height: 227px;
	margin: 0 1px 1px 0;
	float: left;
	position: relative;
	overflow: hidden;
	color: white;
	background-color: #EEE;
}

#unearthed>ul>li a {
	color: white;
}



/* Tweets ================================================== */

.handle {
	margin-left: 10px;
}

.handle:before
{ 
content:"@";
}

.sentiment span {
	font-weight: bold;
}


/* Hottest100 ============================================== */

#hottest100 ul {
	overflow: auto;
}

#hottest100 li {
	width: 340px;
	height: 340px;
	margin: 0 1px 1px 0;
	float: left;
	position: relative;
	overflow: hidden;
	color: white;
	background-color: #eee;
}

#hottest100 li .position {
	font-size: 1.1em;
}

#hottest100 li .track {
	font-size: 1.3em;
	display: block;
	margin: 0 0 5px;
}


/* Feature Albums ============================================== */

#featurealbums ul {
	overflow: auto;
}

#featurealbums li {
	Display: block;
	position: relative;
	overflow: hidden;
	color: 464646;
	background-color: #C4C3BF;
	margin: 0 0 1px;
}

#featurealbums li .title {
	float: left;
	font-size: 1.1em;
}

#featurealbums li .title a {
	color: #464646;
	font-size: 1.1em;
	padding: 20px;
	display: block;
}

#featurealbums li .date {
	font-size: 1.3em;
	float: left;
	padding: 20px;
	background-color: #000;
	color: #fff;	
}

/* JPlayer */

.jp-audio {
	position: absolute;
	top: 10px;
	right: 10px;
}

.jp-controls {
	list-style-type: none;
}

a.jp-play, a.jp-pause {
	height: 27px;
	width: 27px;
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid white;
}

a.jp-play {
	background: #fff url('http://www.abc.net.au/triplej/img/hp/ico.png') 0 -340px no-repeat;
}

a.jp-pause {
	background: #fff url('http://www.abc.net.au/triplej/img/hp/ico.png') 0 -367px no-repeat;
}

a.jp-play:hover {
	background: #fff url('http://www.abc.net.au/triplej/img/hp/ico.png') -27px -340px no-repeat;
}

a.jp-pause:hover {
	background: #fff url('http://www.abc.net.au/triplej/img/hp/ico.png') -27px -367px no-repeat;
}


/* Clear =================================================== */

.clear {
	display: block;
	clear: both;
}



