div.slideshow-container {
	position: relative;
	clear: both;
	height: 100%; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	display: none;
}
div.slideshow {
	width: 600px;
	margin: 100px auto 0;
	display: block;

}

